@model ToDoViewModel
@inject IJsonHelper Json;
@{
    ViewBag.Title = "To Do";
}
@section Scripts
{
    <script src="~/js/app/to-do.js"></script>
}

<div class="container min-height-600" id="todo-list">
    <h1 class="mt-4 mb-3">To Do Items</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item active">Blog Home 2</li>
    </ol>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="list-group" data-bind="visible: ToDos().length > 0 && !Loading(), foreach: ToDos">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <label><strong>Name:</strong></label><br />
                            <label class="control-label" data-bind="text: description"></label>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <label><strong>Subject:</strong></label><br />
                            <label class="control-label" data-bind="text: 'Математика'"></label>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <label><strong>Status:</strong></label><br />
                            <label class="control-label" data-bind="text: 'Не виконано'"></label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <label><strong>Deadline:</strong></label><br />
                            <label class="control-label" data-bind="text: deadLine"></label>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-align-center">
                            <a class="cursor-pointer"><i class="font-size-1-5 padding-top-50 fas fa-share-square"></i></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

@section KnockoutContext {
    <script type="text/javascript">
        ToDoItemsList.ContainerId = '#todo-list';
        ToDoItemsList.ToDos = @Html.Raw(Json.Serialize(Model.ToDoItems));

        ToDoItemsList.Init();
    </script>
}
