@model ToDoViewModel
@inject IJsonHelper Json;
@{
    ViewBag.Title = "To Do";
}
@section Scripts
{
    <script src="~/js/app/to-do.js"></script>
}
<div class="container min-height-600" id="todo-list">
    <ol class="breadcrumb mt-4 mb-3">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item active">To Do</li>
    </ol>
    <h1 class="mb-3">To Do Items</h1>
    <div class="row" data-bind="with: Filter">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mx-auto">
            <div class="card card-filter my-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-label-group">
                                <input class="form-control" id="name" placeholder="Name" data-bind="value: Name">
                                <label class="cursor-pointer" for="name">Name</label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-label-group">
                                <input class="form-control" id="subject" placeholder="Subject" data-bind="value: Subjects">
                                <label class="cursor-pointer" for="subject">Subject</label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-label-group">
                                <input class="form-control" id="status" placeholder="Status" data-bind="value: StatusId">
                                <label class="cursor-pointer" for="status">Status</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-label-group">
                                <input class="form-control" id="deadline" placeholder="Deadline" data-bind="value: Deadline">
                                <label class="cursor-pointer" for="deadline">Deadline</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right">
                            <button class="btn btn-secondary font-weight-600" data-bind="click: $root.ClearFilter">Clear</button>
                            <button class="btn btn-primary font-weight-600" data-bind="click: $root.ApplyFilter">Apply Filter</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" data-bind="visible: ToDos().length > 0 && !Loading()">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="list-inline list-unstyled">
                <li>
                    Showing&nbsp;<span data-bind="text: Pager.StartRecord"></span>
                    to&nbsp;<span data-bind="text: Pager.EndRecord"></span>
                    of&nbsp;<span data-bind="text: Pager.TotalCount"></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="row margin-bottom-2">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="list-group" data-bind="visible: ToDos().length > 0 && !Loading(), foreach: ToDos">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <label class="control-label"> Name: </label><br />
                            <span data-bind="text: Name"></span>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <label class="control-label"> Subject: </label><br />
                            <span data-bind="text: SubjectId"></span>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <label class="control-label"> Status: </label><br />
                            <span data-bind="text: Status"></span>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <label class="control-label"> Deadline: </label><br />
                            <span data-bind="text: DeadLine"></span>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-align-center">
                            <a class="cursor-pointer"><i class="font-size-1-5 padding-top-50 fas fa-share-square"></i></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-8 text-center" data-bind="with: Pager, visible: !Loading()">
            <partial name="_Pager" />
        </div>
    </div>
</div>
@section KnockoutContext {
    <script type="text/javascript">
        ToDoItemsList.ContainerId = '#todo-list';
        ToDoItemsList.ToDos = @Html.Raw(JSONConverter.Encode(Model.ToDoItems));
        ToDoItemsList.Filter = @Html.Raw(JSONConverter.Encode(Model.Filter));
        ToDoItemsList.Pager =  @Html.Raw(JSONConverter.Encode(Model.Paging));

        ToDoItemsList.GetToDosUrl = "@Html.Raw(Url.Action("GetToDos"))";

        ToDoItemsList.Init();
    </script>
}
