@{
    ViewBag.Title = "Calendar";
}
@section Scripts
{
    <script src="~/js/app/datepicker.js"></script>
    <script src="~/js/app/calendar.js"></script>
    <script src="~/lib/moment.js/moment.js"></script>
}
@section KnockoutContext {
    <script type="text/javascript">
        CalendarDayItemsList.ContainerId = '#calendar';
        CalendarDayItemsList.GetCalendarDayItemsUrl = "@Html.Raw(Url.Action("GetCalendarDayItems"))";
        CalendarDayItemsList.Init();
    </script>
}
<div class="container flex-card" id="calendar">
    <ol class="breadcrumb mt-4 mb-3">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item active">Calendar</li>
    </ol>
    <div class="mb-4 page-title-header">Your Calendar</div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="form-group width-50">
                <div class="relative">
                    <input id="calendar-date" type="text" class="form-control cursor-pointer" placeholder="Select a Date" data-format="mm/dd/yyyy" data-bind="value: CalendarDay">
                    <span class="ediary-datepicker cursor-pointer"><i class="fas fa-calendar-alt"></i></span>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pull-right">
            <button class="btn btn-lg add-create-button margin-bottom-20" id="bootbox">
                <i class="fas fa-plus add-create-button-icon"></i> Add new appointment
            </button>
        </div>
    </div>
    <div class="mb-3 container" data-bind="visible: CalendarDayItems().length, foreach: CalendarDayItems">
        <div class="row row-striped">
            <div class="col-2 text-right">
                <h1 class="display-4"><span class="badge badge-secondary" data-bind="text: DayNumber"></span></h1>
                <h2 class="uppercase" data-bind="text: MonthNameShort"></h2>
            </div>
            <div class="col-10">
                <h3 class="text-uppercase"><strong data-bind="text: Title"></strong></h3>
                <ul class="list-inline">
                    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i><span class="margin-left-5" data-bind="text: DayOfWeek"></span></li>
                    <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i><span class="margin-left-5" data-bind="text: From"></span> - <span data-bind="text: To"></span></li>
                    <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i><span class="margin-left-5" data-bind="text: Location"></span></li>
                </ul>
                <p data-bind="text: Description">Entity Framework (EF) Core is a lightweight, extensible, open source and cross-platform version of the popular Entity Framework data access technology</p>
            </div>
        </div>
    </div>
    <div class="center" data-bind="visible: CalendarDayItems().length === 0 && !Loading()">
        <p class="list-empty-text"> You don't have any items of &nbsp;</p><p class="list-empty-text" data-bind="text: FormattedCalendarDay"></p><p class="list-empty-text">&nbsp;Enjoy your day!</p>
    </div>











    <div class="bootbox-content" style="display:none;">
        <div class="form-group">
            <label class="control-label">Theme</label>
            <input class="form-control create-subject-input" placeholder="Enter appointment theme" required>
        </div>
        <div class="form-group">
            <label class="control-label">Description</label>
            <textarea class="form-control create-subject-textarea" placeholder="Enter appointment description" required></textarea>
        </div>
        <div class="form-group">
            <label class="control-label">Subject</label>
            <input class="form-control create-subject-input" placeholder="Enter subject name" required>
        </div>
        <div class="form-group">
            <label class="control-label">Location</label>
            <input class="form-control create-subject-input" placeholder="Enter appointment location" required>
        </div>
        <div class="form-group">
            <label class="control-label">Date and Time</label>
            <div class="relative">
                <input id="new-date" type="text" class="form-control cursor-pointer" placeholder="Select a Date" data-format="mm/dd/yyyy">
                <span class="ediary-datepicker cursor-pointer"><i class="fas fa-calendar-alt"></i></span>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#bootbox").on("click", function (event) {
                var modal = bootbox.dialog({
                    message: $(".bootbox-content").html(),
                    title: "New Appointment",
                    buttons: [
                        {
                            label: "Create",
                            className: "btn btn-primary pull-left",
                            callback: function () {
                                return false;
                            }
                        },
                        {
                            label: "Close",
                            className: "btn btn-default pull-left",
                            callback: function () {
                                console.log("just do something on close");
                            }
                        }
                    ],
                    show: false,
                    onEscape: function () {
                        modal.modal("hide");
                    }
                });

                modal.modal("show");
            });
        });
    </script>
</div>

