@{
    Layout = null;
}
<!-- Footer -->
<footer class="py-3 bg-dark margin-top-20 ">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; EDiary Website 2020</p>
    </div>
</footer>
