@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    Layout = null;
    var user = await UserManager.GetUserAsync(User);
}
<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-blue-gradient fixed-top">
    <div class="container">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">EDiary</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item text-align-center">
                        <i class="fas fa-calendar-week"></i>
                        <a class="nav-link text-dark padding-0" asp-controller="Calendar" asp-action="Index">Calendar</a>
                    </li>
                    <li class="nav-item text-align-center">
                        <i class="fas fa-th-list"></i>
                        <a class="nav-link text-dark padding-0" asp-controller="ToDo" asp-action="Index">To Do</a>
                    </li>
                    <li class="nav-item text-align-center">
                        <i class="fas fa-book"></i>
                        <a class="nav-link text-dark padding-0" asp-controller="Subjects" asp-action="Index">Subjects</a>
                    </li>
                    <li class="nav-item text-align-center margin-left-1-5">
                        <i class="fas fa-user-tie"></i>
                        <a class="nav-link text-dark padding-0" href="#" id="userActionNavbar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@user.FullName</a>
                        <div class="dropdown-menu dropdown-menu-right user-navbar-dropdown" aria-labelledby="userActionNavbar">
                            <a class="dropdown-item">
                                @{
                                    var userRoles = await UserManager.GetRolesAsync(user);
                                    var userRole = userRoles.ToList().FirstOrDefault();
                                }
                                Role: &nbsp;@userRole &nbsp;
                                @if (userRole == "Student")
                                {
                                    <i class="fas fa-graduation-cap"></i>

                                }
                                @if (userRole == "Teacher")
                                {
                                    <i class="fas fa-university"></i>
                                }
                            </a>
                            <a class="dropdown-item" asp-controller="User" asp-action="Logout">Logout</a>
                        </div>
                    </li>
                }
                else
                {
                    <li class="nav-item text-align-center">
                        <i class="fas fa-sign-in-alt"></i>
                        <a class="nav-link text-dark padding-0" asp-controller="User" asp-action="Login">Sign In</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>