@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
    ViewBag.Title = "Subjects";
}
<div class="container flex-card" id="subjects">
    <ol class="breadcrumb mt-4 mb-3">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item active">Subjects</li>
    </ol>
    <div class="mb-3 page-title-header" @*data-bind="text: Subject"*@>Hi @user.FullName, here is your subjects</div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="card card-filter my-4">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="list-group subject-list" data-bind="visible: ToDos().length > 0 && !Loading(), foreach: ToDos">
                            <a href="#" class="list-group-item list-group-item-action subject-title bg-blue-gradient">C# Programming</a>
                            <a href="#" class="list-group-item list-group-item-action subject-title">Web Design</a>
                            <a href="#" class="list-group-item list-group-item-action subject-title">Network Security</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <div class="my-4 subject-nav">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <a class="subject-nav-item subject-nav-item-link text-decoration-none border-bottom-blue" href="#">Course</a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <a class="subject-nav-item subject-nav-item-link text-decoration-none" href="#">People</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
                </div>
            </div>

            <!--People list-->
            @*<div class="my-4 margin-bottom-100px subject-people-underline">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="subject-people subject-nav-item-link people-font-blue">Teachers</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-bottom-1">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pad-left-none">
                                <img class="subject-item-avatar subject-item-avatar-img people-list-avatar" aria-hidden="true" src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/s40-c-fbw=1/photo.jpg">
                            </div>
                            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 pad-left-none">
                                <div class="people-item">Яркун Володимир Ігорович</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="my-4 subject-people-underline">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row margin-top-30px">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="subject-people subject-nav-item-link people-font-blue">Classmates</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-bottom-1">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pad-left-none">
                                <img class="subject-item-avatar subject-item-avatar-img people-list-avatar" aria-hidden="true" src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/s40-c-fbw=1/photo.jpg">
                            </div>
                            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 pad-left-none">
                                <div class="people-item">Володимир Ревура</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-bottom-1">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pad-left-none">
                                <img class="subject-item-avatar subject-item-avatar-img people-list-avatar" aria-hidden="true" src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/s40-c-fbw=1/photo.jpg">
                            </div>
                            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 pad-left-none">
                                <div class="people-item">Володимир Ревура</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-bottom-1">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pad-left-none">
                                <img class="subject-item-avatar subject-item-avatar-img people-list-avatar" aria-hidden="true" src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/s40-c-fbw=1/photo.jpg">
                            </div>
                            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 pad-left-none">
                                <div class="people-item">Володимир Ревура</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-bottom-1">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pad-left-none">
                                <img class="subject-item-avatar subject-item-avatar-img people-list-avatar" aria-hidden="true" src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/s40-c-fbw=1/photo.jpg">
                            </div>
                            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 pad-left-none">
                                <div class="people-item">Володимир Ревура</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-bottom-1">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pad-left-none">
                                <img class="subject-item-avatar subject-item-avatar-img people-list-avatar" aria-hidden="true" src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/s40-c-fbw=1/photo.jpg">
                            </div>
                            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 pad-left-none">
                                <div class="people-item">Володимир Ревура</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-bottom-1">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pad-left-none">
                                <img class="subject-item-avatar subject-item-avatar-img people-list-avatar" aria-hidden="true" src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/s40-c-fbw=1/photo.jpg">
                            </div>
                            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 pad-left-none">
                                <div class="people-item">Володимир Ревура</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-bottom-1">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pad-left-none">
                                <img class="subject-item-avatar subject-item-avatar-img people-list-avatar" aria-hidden="true" src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/s40-c-fbw=1/photo.jpg">
                            </div>
                            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 pad-left-none">
                                <div class="people-item">Володимир Ревура</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-bottom-1">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pad-left-none">
                                <img class="subject-item-avatar subject-item-avatar-img people-list-avatar" aria-hidden="true" src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/s40-c-fbw=1/photo.jpg">
                            </div>
                            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 pad-left-none">
                                <div class="people-item">Володимир Ревура</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-bottom-1">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pad-left-none">
                                <img class="subject-item-avatar subject-item-avatar-img people-list-avatar" aria-hidden="true" src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/s40-c-fbw=1/photo.jpg">
                            </div>
                            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 pad-left-none">
                                <div class="people-item">Володимир Ревура</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-bottom-1">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pad-left-none">
                                <img class="subject-item-avatar subject-item-avatar-img people-list-avatar" aria-hidden="true" src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/s40-c-fbw=1/photo.jpg">
                            </div>
                            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 pad-left-none">
                                <div class="people-item">Володимир Ревура</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-bottom-1">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pad-left-none">
                                <img class="subject-item-avatar subject-item-avatar-img people-list-avatar" aria-hidden="true" src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/s40-c-fbw=1/photo.jpg">
                            </div>
                            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 pad-left-none">
                                <div class="people-item">Володимир Ревура</div>
                            </div>
                        </div>
                    </div>
                </div>*@



            <!--Course body-->
            <div class="row" data-bind="with: Filter">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mx-auto">
                    <div class="card card-filter my-2">
                        <div class="card-body padding-bottom-20-imp">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-label-group">
                                        <textarea class="form-control height-100" id="share-course" placeholder="Share with course"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="offset-10">
                                    <button class="btn btn-primary btn-block mark-as-complete-button pubish-button">Publish</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card card-filter my-2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pad-left-none">
                                    <img class="subject-item-avatar subject-item-avatar-img" aria-hidden="true" src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/s40-c-fbw=1/photo.jpg">
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 pad-left-none">
                                    <span class="subject-author-name">Benjemin Spencer</span>
                                    <div class="subject-author-date-creation">28 March</div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pull-right pad-right-none">
                                    <a class="color-black" href=""><i class="fas fa-ellipsis-v"></i></a>
                                </div>
                            </div>
                            <div class="row mt-3 subject-item-body">
                                <span class="subject-item-body-text">
                                    Yaroslav Sokolovskyy запрошує вас на конференцію: Zoom.<br />
                                    Тема: Конференція Zoom Yaroslav Sokolovskyy КОНСУЛЬТАЦІЯ КНС-41<br />
                                    26 травня 2020 02:00 PM Київ<br /><br />

                                    Підключитися Zoom<br />
                                    https://us04web.zoom.us/j/4540328862?pwd=3eUWR9-cxU1sPt003g92V6u9WIH-jTYc<br /><br />

                                    Ідентифікатор конференції: 454 032 8862<br />
                                    Пароль: it2020it
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card card-filter my-2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pad-left-none">
                                    <img class="subject-item-avatar subject-item-avatar-img" aria-hidden="true" src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/s40-c-fbw=1/photo.jpg">
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 pad-left-none">
                                    <span class="subject-author-name">Benjemin Spencer</span>
                                    <div class="subject-author-date-creation">28 March</div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pull-right pad-right-none">
                                    <a class="color-black" href=""><i class="fas fa-ellipsis-v"></i></a>
                                </div>
                            </div>
                            <div class="row mt-3 subject-item-body">
                                <span class="subject-item-body-text">
                                    Для здачі лабораторної роботи слід
                                    прикріпити файл/архів/посилання на хмарний сервіс,
                                    що містить скріншоти виконаних кроків у даній роботі і короткий опис даних скріншотів (всі розміри деталі має бути чітко видно).
                                    Іншим варіантом є здача роботи "онлайн" згідно навчального розкладу.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card card-filter my-2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pad-left-none">
                                    <img class="subject-item-avatar subject-item-avatar-img" aria-hidden="true" src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/s40-c-fbw=1/photo.jpg">
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 pad-left-none">
                                    <span class="subject-author-name">Benjemin Spencer</span>
                                    <div class="subject-author-date-creation">28 March</div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pull-right pad-right-none">
                                    <a class="color-black" href=""><i class="fas fa-ellipsis-v"></i></a>
                                </div>
                            </div>
                            <div class="row mt-3 subject-item-body">
                                <span class="subject-item-body-text">
                                    В темі "Результати" опубліковані зведені результати успішності студентів з дисц. Економіка і бізнес".
                                    За бажанням студентів завтра 15.05 може бути проведено залік.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card card-filter my-2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pad-left-none">
                                    <img class="subject-item-avatar subject-item-avatar-img" aria-hidden="true" src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/s40-c-fbw=1/photo.jpg">
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 pad-left-none">
                                    <span class="subject-author-name">Benjemin Spencer</span>
                                    <div class="subject-author-date-creation">28 March</div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pull-right pad-right-none">
                                    <a class="color-black" href=""><i class="fas fa-ellipsis-v"></i></a>
                                </div>
                            </div>
                            <div class="row mt-3 subject-item-body">
                                <span class="subject-item-body-text">
                                    В темі "Результати" опубліковані зведені результати успішності студентів з дисц. Економіка і бізнес".
                                    За бажанням студентів завтра 15.05 може бути проведено залік.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Course body close-->
        </div>
    </div>
</div>
