@model HomeIndexViewModel
@{
    ViewBag.Title = "Index";
}

<table>
    <thead>
        <tr>
            <th>ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>
                    @user.Id
                </td>
            </tr>
        }
    </tbody>
</table>
