@model RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-login-register my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign Up</h5>
                    <form class="form-login-register" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-label-group">
                            <input asp-for="FirstName" class="form-control" placeholder="First Name" required autofocus>
                            <label asp-for="FirstName" class="cursor-pointer">First Name</label>
                        </div>
                        <div class="form-label-group">
                            <input asp-for="LastName" class="form-control" placeholder="Last Name" required>
                            <label asp-for="LastName" class="cursor-pointer">Last Name</label>
                        </div>
                        <div class="form-label-group">
                            <input asp-for="Email" type="email" class="form-control" placeholder="Email address" required>
                            <label asp-for="Email" class="cursor-pointer">Email address</label>
                        </div>
                        <div class="form-label-group">
                            <input asp-for="Password" type="password" class="form-control" placeholder="Password" required>
                            <label asp-for="Password" class="cursor-pointer">Password</label>
                        </div>
                        <div class="form-label-group">
                            <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" required>
                            <label asp-for="ConfirmPassword" class="cursor-pointer">Confirm Password</label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
