body {
    padding-top: 56px;
}

.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.portfolio-item {
    margin-bottom: 30px;
}

.padding-left-20 {
    padding-left: 20px;
}
.margin-left-20 {
    margin-left: 20px;
}

.bg-blue-gradient {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
}

.text-dark {
    color: #040B12 !important;
}

.border-radius-1 {
    border-radius: 1rem !important;
}

.cursor-pointer {
    cursor: pointer;
}