body {
    padding-top: 56px;
}

.bg-blue-gradient {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #337cff);
}

.bg-blue-linear {
    background: url(../images/login/login_background.jpg) no-repeat center #0f6896;
}

:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}

.card-filter {
    border-radius: .5rem;
    box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.1);
}

.card-filter .card-body {
    padding: 2rem;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input {
    height: auto;
    border-radius: 2rem;
}

.form-label-group select {
    height: auto;
    border-radius: 2rem;
}

.form-label-group > input,
.form-label-group > label {
   padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

.btn-google {
    color: white;
    background-color: #ea4335;
}

.btn-facebook {
    color: white;
    background-color: #3b5998;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
    .form-label-group > label {
        display: none;
    }

    .form-label-group input::-ms-input-placeholder {
        color: #777;
    }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .form-label-group > label {
        display: none;
    }

    .form-label-group input:-ms-input-placeholder {
        color: #777;
    }
}

.portfolio-item {
    margin-bottom: 30px;
}

.text-dark {
    color: #040B12 !important;
}

.border-radius-1 {
    border-radius: 1rem !important;
}

.cursor-pointer {
    cursor: pointer;
}

.text-align-center {
    text-align: center;
}

.pull-right {
    text-align: right;
}
.pull-left {
    text-align: left;
}

.min-height-600 {
    min-height: 600px;
}

.flex-card {
    min-height: 575px;
}

.control-label {
    font-weight: 700;
}

.font-weight-600 {
    font-weight: 600;
}

.font-size-2 {
    font-size: 2em;
}

.font-size-1-5 {
    font-size: 1.5em;
}

.font-size-1-4 {
    font-size: 1.4rem;
}

.padding-0 {
    padding: 0;
}

.padding-top-50 {
    padding-top: 50%;
}

.padding-left-20 {
    padding-left: 20px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-top-3-5 {
    margin-top: 3.5em;
}

.margin-top-60 {
    margin-top: 60px;
}

.margin-top-6 {
    margin-top: 6px;
}

.margin-bottom-1 {
    margin-bottom: 1em;
}

.margin-bottom-2 {
    margin-bottom: 2em;
}

.margin-bottom-3 {
    margin-bottom: 3em;
}

.margin-bottom-4 {
    margin-bottom: 4em;
}

.margin-left-1-5 {
    margin-left: 1.5rem;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}

.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.padding-top-15 {
    padding-top: 15px;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 19px 0;
  border-radius: 4px;
}

.pagination > li {
  display: inline;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.375;
  text-decoration: none;
  color: #0062E6;
  background-color: #fff;
  border: 1px solid #BDC3C7;
  margin-left: -1px;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.pagination > li > a:hover, .pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > span:focus {
  z-index: 2;
  color: #0062E6;
  background-color: #bce4e0;
  border-color: #c8c8c9;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  background-color: #0062E6;
  border-color: #0062E6;
  cursor: default;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #BDC3C7;
  background-color: #fff;
  border-color: #ddd;
  cursor: not-allowed;
}

.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33333;
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.pager {
  padding-left: 0;
  margin: 19px 0;
  list-style: none;
  text-align: center;
}

.pager:before, .pager:after {
  content: " ";
  display: table;
}

.pager:after {
  clear: both;
}

.pager li {
  display: inline;
}

.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #BDC3C7;
  border-radius: 0;
}

.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #bce4e0;
}

.pager .next > a,
.pager .next > span {
  float: right;
}

.pager .previous > a,
.pager .previous > span {
  float: left;
}

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #BDC3C7;
  background-color: #fff;
  cursor: not-allowed;
}

.user-navbar-dropdown {
    margin-right: 119px;
}

.card-label {
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.75rem;
    color: #3c4043;
}

.card-status {
    color: #d50000;
}

.add-create-button {
    background: white;
    color: black;
    border-color: lightgray;
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .25px;
}

.add-create-button-icon {
    font-size: 1.1rem;
    margin-right: 0.4rem;
}

.pad-left-none {
    padding-left: 0;
}

.pad-right-none {
    padding-right: 0;
}

.mark-as-complete-button {
    border-color: lightgray;
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .25px;
}

.task-name-title {
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.5rem;
}

.task-points {
    letter-spacing: .01785714em;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #3c4043;
}

.task-author {
    color: rgba(0,0,0,0.87);
    font-size: 0.8125rem;
    font-weight: 500;
    line-height: 1.5rem;
}

.task-date-creation {
    color: rgba(0,0,0,0.87);
    font-size: 0.8125rem;
    font-weight: 500;
    line-height: 1.5rem;
}

.padding-left-0-6 {
    padding-left: .6rem;
}

.inline-block {
    display: inline-block;
}

.row-striped:nth-of-type(odd) {
    background-color: #efefef;
    border-left: 4px #000000 solid;
}

.row-striped:nth-of-type(even) {
    background-color: #ffffff;
    border-left: 4px #efefef solid;
}

.row-striped {
    padding: 15px 0;
}

.ediary-datepicker {
    font-size: 20px;
    position: absolute;
    pointer-events: none;
    top: 4px;
    right: 10px;
}

.width-50 {
    width: 50%;
}

.relative {
    position: relative;
}

.todo-datepicker {
    font-size: 24px;
    position: absolute;
    pointer-events: none;
    top: 5px;
    right: 20px;
}

.select-control {
    padding-top: 12px;
    padding-bottom: 12px;
}

.subject-title {
    letter-spacing: .01785714em;
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.75rem;
    color: #3c4043;
}

.subject-title-background {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #337cff);
}

.border-none {
    border: none;
}

.subject-nav {
    border-bottom: .0625rem solid #e0e0e0;
}

.subject-nav-item {
    letter-spacing: .01785714em;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #3c4043;
    text-transform: none;
    padding-bottom: 20px;
    padding-top: 10px;
}

.subject-nav-item-link {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    float: left;
}

.text-decoration-none {
    text-decoration: none;
}

.border-bottom-blue {
    border-bottom: 3px solid #0008ffc7;
}

.subject-item-avatar {
    -webkit-align-self: flex-start;
    align-self: flex-start;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    max-height: 75px;
    max-width: 75px;
    vertical-align: middle;
}

.subject-item-avatar-img {
    -webkit-align-self: center;
    align-self: center;
    height: 2.5rem;
    margin: 0 0.8rem;
    width: 2.5rem;
}

.white-space-pre-wrap {
    white-space: pre-wrap;
}

.subject-item-body-text {
    color: rgba(0,0,0,0.87);
    font-family: 'Roboto',Helvetica,Arial,sans-serif;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.25rem;
    margin: 0;
    min-width: 18.75rem;
}

.subject-item-body {
    margin: 0 0rem;
}

.subject-author-name {
    letter-spacing: .01785714em;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem;
    color: #3c4043;
    padding-left: 10px;
}

.subject-author-date-creation {
    letter-spacing: .025em;
    font-family: Roboto, Arial, sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem;
    color: #5f6368;
    padding-left: 10px;
}

.color-black {
    color: black;
}

.margin-top-20 {
    margin-top: 20px;
}

.height-80 {
    height: 80px !important;
}

.pubish-button {
    margin-left: 7px;
}

.padding-bottom-20-imp {
    padding-bottom: 20px !important;
}

.subject-people {
    letter-spacing: .01785714em;
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #3c4043;
    text-transform: none;
    padding-bottom: 10px;
    padding-top: 10px;
}

.subject-people-underline {
    border-bottom: .0625rem solid #004185;
}

.people-font-blue {
    color: #001ffff2;
}
.people-item {
    letter-spacing: .01785714em;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #3c4043;
    padding-top: 5px;
}

.people-list-avatar {
    width: 30px;
    height: 30px;
}

.margin-top-30px {
    margin-top: 30px;
}

.page-title-header {
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 2.45rem;
    color: #000000b5;
}


.subject-container {
    border-radius: .5rem;
}

.input-group-custom {
    padding-top: 20px;
}

.create-subject-input {
    border-radius: 2rem;
    padding: 1.3rem;
}

.create-subject-textarea {
    border-radius: 0.9rem;
    padding: 1rem;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-left-5 {
   margin-left: 5px; 
}

.uppercase {
    text-transform: uppercase;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 375px;
}

.center-auto-width {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-empty-text {
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2.45rem;
    color: #000000b5;
}

.margin-none {
    margin: 0 !important;
}

.padding-top-10 {
    padding-top: 10px;
}

.task-note-author-name {
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.25rem;
    color: #3c4043;
}

.task-note-text {
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #3c4043;
}

.margin-top-1 {
    margin-top: 1rem;
}

.padding-top-5 {
    padding-top: 5px;
}

